<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beauty Chu~♥</title>

<link rel="shortcut icon" href="../images/favicon.ico"
	type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style type="text/css">
	/* 스타일 적용 공간! */
* {
border: red 1px solid; 
}
#content {
margin-top: -100px;
position: relative;
width: 250px;
height: 100px;
background-color: rgba(0,0,0,0.5);
}
img{
width: 250px;
height: 250px;
}
</style>
</head>
<body>

	<header>
		<!-- header 건들지 말긔! -->
	</header>



	<div id="wrap-chu" class="wrap-chu">
	
		<!-- 작업공간 - 이파일 고치지 말고 복사해서 쓰시오...!! -->
	<div id="content">
	<img id="back" src="../images/shop/4.jpg"/>
				<p>이름</p>
				<p>상세정보</p>
				<p>별</p>
		</div>
	
	
	</div>



	
	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>




	<!-- header, footer 로드 스크립트!! -->
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');
		
		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>
<script>
$(document).ready(function(){
  $("#back").hover(function(){
	    $("#content").css("height","250px");
	    $("#content").css("margin-top","-250px");
    },function(){
    $("#content").css("height","100px");
    $("#content").css("margin-top","-100px");
  });
});
</script>
</body>
</html>