<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beauty Chu~♥</title>

<link rel="shortcut icon" href="../../images/shop/favicon.ico"
	type="image/x-icon">
<link rel="icon" href="../../images/shop/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<!-- 그리드 CSS -->
<link rel="stylesheet" type="text/css" href="../css/resources/default.css" />
<link rel="stylesheet" type="text/css" href="../css/resources/component.css" />
		<script src="../js/resources/modernizr.custom.js"></script> <!-- 아래로 내리면 안먹힘 -->
<!-- hover -->
<link rel="stylesheet" type="text/css" href="../css/resources/demo.css" />
<link rel="stylesheet" type="text/css" href="../css/resources/style_common.css" />
<link rel="stylesheet" type="text/css" href="../css/resources/style9.css" />
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />

<!-- 별점 CSS -->
<link rel="stylesheet" href="../css/resources/starrr.css">

<style type="text/css">
	/* 스타일 적용 공간! */
	*{
	border: 1px solid red;
	}
	/* 샵리스트 사진 */

	
	/* hover 적용시 메인 조절 */
	
	.main {
	width: 100%;
	}
	.og-details h3 {
	padding: 0px;
	}
	
	.og-details a {
	display : none;
	}
	  #toggle {
    width: 100px;
    height: 100px;
    background: #ccc;
    z-index: 999999;
    float: left;
  }
 	#back {
    width: 100px;
    height: 100px;
    background: black;
  }
  #inner{
  border: 1px red solid;
  }
</style>

</head>
<body>

	<header>
		<!-- header 건들지 말긔! -->
	</header>



	<div id="wrap-chu" class="wrap-chu">
	
		<!-- 작업공간 - 이파일 고치지 말고 복사해서 쓰시오...!! -->

		<div class="container">	
			<header class="clearfix">
				<h1>Shop List </h1>	
			</header>
			<div class="main">
				<ul id="og-grid" class="og-grid">
					<li>
						<a data-largesrc="../images/shop/1.jpg" data-title="JUNO hair" data-description="Shop manager <br> Address <br> Tel <br> info <br>   저희 미용실로 오세요~ <br> <button id='more'>Price list</button> 						<div id='toggle'><div id='inner'>111111111</div></div>
						<div id='back'><div></div></div> <button>coupon</button> <div><p>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br>댓글위치<br></p></div>">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
						<div id="toggle"><div id="inner">111111111</div></div>
						<div id="back"><div></div></div>
							<button id="more">more</button>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<img src="../images/shop/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<img src="../images/shop/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<img src="../images/shop/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<img src="../images/shop/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<img src="../images/shop/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<img src="../images/shop/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<img src="../images/shop/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<img src="../images/shop/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<img src="../images/shop/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="http://cargocollective.com/jaimemartinez/" data-largesrc="../images/shop/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<img src="../images/shop/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>

				</ul>
			</div>
		</div><!-- /container -->
	
	</div>



	
	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>




	<!-- header, footer 로드 스크립트!! -->
	<script>
		$('header').load('common/header.html');
		$('footer').load('common/footer.html');
		
		/* 
		window.setTimeout('window.location.reload()', 7000); //60초마다 새로고침
		 */
	</script>
	
	<!-- 그리드  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
	<script src="../js/resources/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
		
		
	<!-- slider -->	
	<script>
	$( "#more" ).click(function() {
  	$( "#toggle" ).toggle( "slide" );
	});
	</script>
			
	<!-- 별점 -->
	<script src="../js/resources/starrr.js"></script>

</body>
</html>